<div class="container-fluid">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content *ngIf="isArray;else notIsArray">
    <ul class="text-decoration-none">
      <li *ngFor="let item of data">
        {{item}}
      </li>
    </ul>
  </div>
</div>

<ng-template #notIsArray>
  <div mat-dialog-content>
    <p>{{message}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="ok()">Yes</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</ng-template>