<div class="container my-5">
  <div class="row">
    <div class="card mat-elevation-z8">
      <div class="card-body">

        <h2 class="card-title" *ngIf="!deviceId">Add Device</h2>
        <h2 class="card-title" *ngIf="deviceId">Edit Device</h2>

        <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">

          <div class="row my-3">
            <div class="col-md-6">
              <label class="mb-1">Device ID <span class="text-danger">*</span></label>
              <input type="text" formControlName="devId" class="form-control col-12" required
                [ngClass]="{'is-invalid':isSubmitted && deviceForm.get('devId')?.invalid }">
              <span class="col-12 text-danger" *ngIf="isSubmitted && deviceForm.get('devId')?.invalid">
                Device Id is required
              </span>
            </div>

            <div class="col-md-6">
              <label class="mb-1">Device Name <span class="text-danger">*</span></label>
              <input type="text" formControlName="deviceName" class="form-control col-12" required
                [ngClass]="{'is-invalid':isSubmitted && deviceForm.get('deviceName')?.invalid }">
              <span class="col-12 text-danger" *ngIf="isSubmitted && deviceForm.get('deviceName')?.invalid">
                Device Name is required
              </span>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-md-6">
              <label class="mb-1">Users <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="user" required
                [ngClass]="{'is-invalid':isSubmitted && deviceForm.get('user')?.invalid }">
                <option value="">Select User</option>
                <option value="{{user.id}}" *ngFor="let user of userList">
                  {{user.firstName+' '+ user.lastName}}
                </option>
              </select>

              <span class="col-12 text-danger" *ngIf="isSubmitted && deviceForm.get('user')?.invalid">
                User is required
              </span>
            </div>
            <div class="col-md-6">
              <label class="mb-1">Device Type <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="deviceType" required
                [ngClass]="{'is-invalid':isSubmitted && deviceForm.get('deviceType')?.invalid }">
                <option value="">Select Device Type</option>
                <option value="{{item.id}}" *ngFor="let item of deviceTypeList">
                  {{item.hardwareType}}</option>
              </select>
              <span class="col-12 text-danger" *ngIf="isSubmitted && deviceForm.get('deviceType')?.invalid">
                Device Type is required
              </span>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-md-6">
              <label class="mb-1">Mac ID <span class="text-danger">*</span></label>
              <input type="text" formControlName="macId" class="form-control col-12" required
                [ngClass]="{'is-invalid':isSubmitted && deviceForm.get('macId')?.invalid }">
              <span class="col-12 text-danger" *ngIf="isSubmitted && deviceForm.get('macId')?.invalid">
                MacId is required
              </span>
            </div>
          </div>
          <div class="row my-3 text-center">
            <div class="col-md-12">
              <button type="submit" class="btn btn-outline-primary">Submit</button>
              <button type="button" class="btn btn-outline-danger mx-3" routerLink="/device">Cancel</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>