<div class="container-fluid mt-4">
  <h2>DashBoard</h2>
  <div class="row">

    <!-- <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><i class="fa-duotone fa-user-group"></i></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Devices</span></div>
      </div>
    </div>
    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <span class="w-25 image"><i class="bi bi-people-fill"></i></span>
        <span class="w-75 body"><span class="custom-orange">359</span><span>Total Customer</span></span>
      </div>
    </div>

    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><img src="/assets/icons/devices-new.png" width="30px" alt="" srcset=""></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Unassigned Devices</span></div>
      </div>
    </div>
    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><img src="/assets/icons/devices-new.png" width="30px" alt="" srcset=""></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Devices</span></div>
      </div>
    </div> -->



    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Total Devices</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">200</div>
              </div>
              <div class="col-auto">
                <mat-icon style="font-size: 35px; width: 35px; height: 35px;">devices_other</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Customer</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">145</div>
              </div>
              <div class="col-auto">
                <mat-icon style="font-size: 35px; width: 35px; height: 35px;">supervised_user_circle</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                  Unassigned Devices
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">120</div>
                  </div>
                  <!-- <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-auto">
                <mat-icon style="font-size: 35px; width: 35px; height: 35px;">important_devices</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                  Assigned Devices</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">25</div>
              </div>
              <div class="col-auto">
                <mat-icon style="font-size: 35px; width: 35px; height: 35px;">important_devices</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>