<div class="container-fluid mt-4">
  <h2>DashBoard</h2>
  <div class="row">

    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><i class="fa-duotone fa-user-group"></i></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Devices</span></div>
      </div>
    </div>
    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <span class="w-25 image"><i class="bi bi-people-fill"></i></span>
        <span class="w-75 body"><span class="custom-orange">359</span><span>Total Customer</span></span>
      </div>
    </div>

    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><img src="/assets/icons/devices-new.png" width="30px" alt="" srcset=""></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Unassigned Devices</span></div>
      </div>
    </div>
    <div class="col-md-6 mb-3 ">
      <div class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><img src="/assets/icons/devices-new.png" width="30px" alt="" srcset=""></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Devices</span></div>
      </div>
    </div>

    <!--   <div class="col-md-6 mb-3 ">
      <div matRipple class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><img src="/assets/icons/devices-new.png" width="30px" alt="" srcset=""></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Devices</span></div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div matRipple class="mat-ripple card text-center bg-white d-flex active">
        <div class="w-25 image"><img src="/assets/icons/devices-new.png" width="30px" alt="" srcset=""></div>
        <div class="w-75 body"><span class="custom-orange">359</span><span>Total Devices</span></div>
      </div>
    </div> -->

  </div>
</div>