<div class="container-fluid my-3">
  <div class="row">
    <div class="col-6">
      <h2>Device List</h2>
    </div>
    <div class="col-6">
      <button mat-raised-button color="primary" class="float-end" routerLink="add"><mat-icon>add</mat-icon> Add
        Device</button>
    </div>
  </div>
</div>


<form>
  <div class="row my-3">
    <div class="col-md-4">
      <input #input (keyup)="applyFilter($event)" placeholder="Search Here" [formControl]="inputControl"
        class="form-control">
    </div>
  </div>
</form>

<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search Here" #input [formControl]="inputControl">
</mat-form-field> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="devId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Device ID </th>
      <td mat-cell *matCellDef="let element" title="{{element.devId}}" style="cursor: pointer;"> {{element.devId}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="deviceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </th>
      <td mat-cell *matCellDef="let element"> {{element.hardware.deviceName}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Type </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceType}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.status===1">
          <mat-icon class="text-success">brightness_1</mat-icon>
        </ng-container>
        <ng-container *ngIf="element.status===0">
          <mat-icon class="text-danger">brightness_1</mat-icon>
        </ng-container>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date : 'MM/dd/yyyy, h:mm a'}} </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Commissioned </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date : 'MM/dd/yyyy, h:mm a'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab color="warn" aria-label="Edit Row" (click)="editRecord(row)" [routerLink]="['edit',row.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="danger" aria-label="Delete Row" (click)="deleteRecord(row)" class="mx-2">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6" class="text-center py-2">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>