<div class="container-fluid">
  <h1 mat-dialog-title>{{title}}</h1>
  <form class="example-form" [formGroup]="deleteConfirmForm" (ngSubmit)="ok()">
    <div mat-dialog-content>
      <p>{{message}}</p>

      <mat-form-field class="example-full-width">
        <mat-label>Enter Password</mat-label>
        <input type="password" matInput formControlName="password" class="form-control" #password
          placeholder="Enter Here..." required style="background-color: transparent;">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="deleteConfirmForm.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" [disabled]="deleteConfirmForm.invalid" type="submit">Yes</button>
      <button mat-button (click)="close()">Cancel</button>
    </div>
  </form>
</div>